.footer{ 
  /* border: 1px solid rgb(243, 56, 23); */
  background-color: hsl(253, 36%, 10%);
  margin-top: 400px;
  padding: 40px;
  height: 200px;
  position: 'fixed';
  text-align: center;
} 

.footer p {
    margin: 2px;
} 

.text {
  margin-top: 10px;
}

.youtube-icon {
    color: red;
    font-size: 24px;
    display: inline-block;
}

.facebook-icon {
  color: #3b5998;
  font-size: 24px;
  display: inline-block;
  margin-left: 12px;
}

.jiocinema-icon{
  color: #f00;
  font-size: 24px;
  display: inline-block;
  margin-left: 12px;
}