body {
  box-sizing: border-box;
  background-image: url('/ab.jpg');
  background-size: cover;
  background-position: center;
  color: #ecf2f8;
  margin: 0;
  padding: 0;
  font-family: "Inknut Antiqua";
}

/* header css */
.header {
  text-align: center;
  font-family: "Inknut Antiqua";
  background-color: hsl(253, 36%, 10%);
  height: 200px;
  width: auto;
  color: #ecf2f8;

}

.header h1 {
  margin: 0;
  padding: 60px;

}

@media (max-width: 600px) {
  .header {
    padding: 10px;
  }

}

@media (min-width: 601px) and (max-width: 1024px) {
  .header {
    padding: 15px;
  }

}

@media (min-width: 1025px) {
  .header {
    padding: 20px;
  }
}


/* searchbar css */
.container {
  margin-top: 75px;
  height: auto;
}

.search-box {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 21px;
}

.search-box input {
  width: 300px;
  height: 70px;
  padding: 5px;
  outline: none;
  padding-left: 40px;
  font-size: 20px;
  font-family: "Inknut Antiqua";

}

.img-search {
  position: absolute;
  left: 5px;
  top: 19px;
}

.search-box button {
  width: 71px;
  height: 69px;
  padding: 5px;
  font-size: 16px;
  padding-top: 6px;
  font-family: "Inknut Antiqua";

}





/* moviedetails css */
.movie-row-main {
  border: 3px solid black;
  height: 450px;
  margin-top: 100px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-image: url('/pic.jpg')
}

.col1 {
  width: 100%;
}

.col2 {
  height: 435px;
  margin-top: 15px;

}

.card {
  font-size: medium;
  font-family: "Inknut Antiqua";
  background-color: rgba(31, 32, 30, 0.055);
  color: aliceblue;
}

.card-img-top {
  width: 100%;
  height: 445px;
}

/* Mobile Styles */
@media (max-width: 765px) {
  .movie-row-main {
    margin-top: 50px;
    height: auto;
  }

  .col1, .col2 {
    width: 100%;
    margin: 0;
  }

  .card-img-top {
    height: auto;
  }
}

/* Desktop Styles */
@media (min-width: 1025px) {
  .movie-row-main {
    flex-direction: row;
    height: 450px;
  }

  .col1 {
    width: 30%;
  }

  .col2 {
    width: 70%;
    margin-left: 10px;
  }

  .card-img-top {
    height: 445px;
  }
}


/* footer css */

.footer{ 
  /* border: 1px solid rgb(243, 56, 23); */
  background-color: hsl(253, 36%, 10%);
  margin-top: 400px;
  padding: 40px;
  height: 200px;
  position: 'fixed';
  text-align: center;
  color: #ecf2f8;

} 


.footer p {
    margin: 2px;
} 

.text {
  margin-top: 10px;
}

.youtube-icon {
    color: red;
    font-size: 24px;
    display: inline-block;
}

.facebook-icon {
  color: #3b5998;
  font-size: 24px;
  display: inline-block;
  margin-left: 12px;
}

.jiocinema-icon{
  color: #f00;
  font-size: 24px;
  display: inline-block;
  margin-left: 12px;
}