body {
  box-sizing: border-box;
  background-image: url('/ab.jpg');
  color: aliceblue;
}


.container {
  margin-top: 75px;
  height: auto;
}

.search-box {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 21px;
}

.search-box input {
  width: 300px;
  height: 70px;
  padding: 5px;
  outline: none;
  padding-left: 40px;
  font-size: 20px;
  font-family: "Inknut Antiqua";

}

.img-search {
  position: absolute;
  left: 5px;
  top: 19px;
}

.search-box button {
  width: 71px;
  height: 69px;
  padding: 5px;
  font-size: 16px;
  padding-top: 6px;
  font-family: "Inknut Antiqua";

}

