.header {
    text-align: center;
    font-family: "Inknut Antiqua";
    background-color: hsl(253, 36%, 10%);
    height: 200px;
    width: auto;
  }
  
  .header h1 {
    margin: 0;
    padding: 60px;

  }
  
  @media (max-width: 600px) {
    .header {
      padding: 10px;
    }
  
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    .header {
      padding: 15px;
    }
  
  }
  
  @media (min-width: 1025px) {
    .header {
      padding: 20px;
    }
  }
  