.movie-row-main {
    border: 1px solid black;
    height: 435px;
    margin-top: 100px;
    padding: 2px;
}

.col1 {
    float: left;
    /* border: 1px solid black; */
    width: 430px;
    height: 430px;

}

.col2 {
    /* border: 1px solid black; */
    float: left;
    width: 846px;
    height: 430px;
    margin-left: 14px;
}

.col-1 {
    float: left;
    width: 847px;
    height: 30px;
}

.col-2 {
    float: left;
    width: 847px;
    height: 30px;
    margin-top: 20px;
}

.col-3 {
    float: left;
    width: 847px;
    height: 30px;
    margin-top: 20px;
}

.col-4 {
    float: left;
    width: 847px;
    height: 30px;
    margin-top: 20px;
}

.col-5 {
    float: left;
    width: 847px;
    height: 30px;
    margin-top: 20px;
}

.col-6 {
    float: left;
    width: 847px;
    height: 30px;
    margin-top: 20px;
}

.col-7 {
    float: left;
    width: 847px;
    height: 30px;
    margin-top: 20px;
}

.col-8 {
    float: left;
    width: 847px;
    height: 30px;
    margin-top: 20px;
}

.card {
    font-size: small;
    font-family: "Inknut Antiqua";
    background-color: rgba(31, 32, 30, 0.055);
    color: aliceblue;
}
